
@{
    ViewBag.Title = "Trang chủ";
}

<div class="">
<h2 class="fw-bold" style="text-align: center">Đại học Nguyễn Trãi</h2>
    <img class="rounded mx-auto d-block" style="width: 200px" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/163233022_3853500681409153_3026057894776140556_n.png" />
</div>

