
@{
    ViewBag.Title = "PtaCustomerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model lab4_model.Models.PtaCustomer


<h2>Chi tiet khach hang</h2>
<p>ma so: @Model.PtaCustomId</p>
<p>ho va ten: @Model.PtaFullName</p>
<p>Dia chi: @Model.Address</p>
<p>Email: @Model.Email</p>


