
@{
    ViewBag.Title = "PtaCustomerDetails";
}

<h2>Chi tiết khách hàng</h2>
<p>Mã số: @ViewBag.customer.CustomerID</p>
<p>Họ tên: @ViewBag.customer.CustomerName</p>
<p>Địa chỉ: @ViewBag.customer.Address</p>
<p>Năm sinh: @ViewBag.customer.YearOfBirth</p>

